<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Home page</title>
</head>

<body>

    <div class="main">
        <form class="row g-3">
            <div class="col-auto">
                <label for="search" class="visually-hidden">Search</label>
                <input type="text" readonly class="form-control-plaintext" id="search" value="Search by City">
            </div>
            <div class="col-auto">
                <label for="city" class="visually-hidden">City</label>
                <input type="text" class="form-control" name="city" id="city" placeholder="City">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
        </form>
        <div class="row">
            <div class="details col-12 col-md-9 col-sm-12">
                <% foundDetails.forEach(function(detail){ %>
                    <form action="/deleteDetails" method="post">
                        <div class="detail">
                            <h5>Name:</h5>
                            <p><%=detail.name%></p>
                            <h3><%=detail.resource%></h3>
                            <h4>City</h4>
                            <p><%=detail.city%></p>
                            <h5><%=detail.contact%></h5>
                            <button name="id" type="submit" value="<%=detail._id%>" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </form>
                <% }) %>
            </div>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>